li{
	list-style-type: none;
}
.todo, .listname{
	font-size: 20px;
	cursor: pointer;
}

.todo:hover, .listname:hover{
	text-decoration: underline;
	font-weight: bold;
	color: blue;
}

.done{
	text-decoration: line-through;
	color: red;
	cursor: pointer;
	font-size: 20px;
}
.done:hover{
	font-weight: bold;
}
